
choice 
        prompt "readonly resource manager"
        default RESOURCE_RUNTIME_DECODER
        help
			readonly resource manager

config  RESOURCE_RUNTIME_DECODER
        bool "runtime decoder"
        help
		old meth runtime decoder image
		[Minimum  disk use]
		[decode each]
config  RESOURCE_RUNTIME_INDEX
        bool "runtime index"
        help
		mmap meth index virtual memory
		[Minimum  memory use]
		[decode once]
config  RESOURCE_RUNTIME_FETCH
        bool "runtime fetch"
        help
		[decode once]
endchoice
