
choice 
        prompt "draw logic"
        default DRAWLOGIC_BFQ
        help
			readonly resource manager

config  DRAWLOGIC_BFQ
        bool "BFQ begin after queue >dragon"
        help
			BFQ
config  DRAWLOGIC_TT
        bool "render by orders >TT"
        help
			send caveguy@qq.com for detail
config  DRAWLOGIC_NONE
        bool "none"
        help
			???
endchoice
